<% include ../partials/header %>

<header class="jumbotron">
    <h2 style="text-align: centre;">Edit Comment</h2>
</header>

<div class="row">
     <div class="container" style="width: 50%; margin: 0 auto;">
        <form action="/campgrounds/<%= campground_id %>/comments/<%=comment._id%>?_method=PUT" method="POST">
            <input style="margin-top: 20px;" class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
            <button style="margin-top: 20px; height: 10%;" class="btn btn-lg btn-primary form-control">Post</button>
        </form>
    </div>
</div>
<div class="row">
     <div class="container" style="width: 50%; margin: 0 auto;">
        <a href="/campgrounds/<%= campground_id %>">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>