<% include partials/header %>
</div>

<img class="landingimg" name="slide">
<div class="center"><span id="maintext">Explore Now</span></div>
<div class="center1"><a href="/campgrounds"><button class="btn btn-lg btn-primary">Let's Go</button></a></div>

<% include partials/footer %>