<% include ./partials/header %>
<div id="loginback">
    <h1 style="text-align: center; color: white; text-shadow: 1px 2px 3px red;"><strong>Sign Up</strong></h1>
    <div class="row">
         <div class="container" style="width: 50%; margin: 0 auto;">
            <form action="/register" method="post">
                <input class="form-control" type="text" name="username" placeholder="Username">
                <input style="margin-top: 20px;" class="form-control" type="password" name="password" placeholder="Password">
                <button style="margin-top: 20px; height: 10%;" class="btn btn-lg btn-success form-control">Join the club</button>
            </form>
        </div>
    </div>
        <div class="row">
            <div class="container" style="width: 50%; margin: 0 auto;">
            <h4><a href="/login" style="color: inherit;">Aldready a User ? Login Here !</a></h4>
        </div>
    </div>
</div>

<% include ./partials/footer %>